absl-py==0.12.0
ansiwrap==0.8.4
anytree==2.8.0
appdirs==1.4.4
argh==0.26.2
asn1crypto==1.4.0
asteval==0.9.23
astunparse==1.6.3
attrs==20.3.0
Automat==20.2.0
Babel==2.9.0
backcall==0.2.0
Beaker==1.11.0
beautifulsoup4==4.9.3
bottle==0.12.19
breezy==3.2.0
Brlapi==0.8.2
btrfsutil==5.11.1
CacheControl==0.12.6
cachetools==4.2.2
certifi==2020.12.5
cffi==1.14.5
cfscrape==2.1.1
chardet==4.0.0
Cheetah3==3.2.6.post1
click==7.1.2
colorama==0.4.4
coloredlogs==15.0
colout==0.12.1
configobj==5.1.0.dev0
constantly==15.1.0
contextlib2==0.6.0.post1
cryptography==3.4.7
cycler==0.10.0
decorator==4.4.2
deepdiff==5.2.3
deprecation==2.1.0
discid==1.2.0
distlib==0.3.1
distro==1.5.0
dnspython==1.16.0
downloader-cli==0.3.1
dulwich==0.20.21
entrypoints==0.3
env==0.1.0
eyeD3==0.9.5
fasteners==0.15
fastimport==0.9.12
filelock==3.0.12
filetype==1.0.7
flatbuffers==1.12
future==0.18.2
fuzzywuzzy==0.18.0
gast==0.4.0
GDAL==3.2.2
Glances==3.1.5
google-auth==1.30.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
gps==3.22
grpcio==1.34.1
gufw==21.4.0
h5py==3.1.0
html5lib==1.1
httpie==2.4.0
humanfriendly==9.1
hyperlink==21.0.0
idna==3.1
importlib-metadata==4.0.1
incremental==21.3.0
ipykernel==5.5.0
ipython==7.20.0
ipython-genutils==0.2.0
jedi==0.18.0
jeepney==0.6.0
joblib==0.17.0
jupyter-client==6.1.11
jupyter-core==4.7.1
Keras==2.4.3
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
keyring==23.0.1
kiwisolver==1.3.1
lensfun==0.3.95
libfdt==1.6.0
libmsym==0.2.4
lit==0.11.1.dev0
lockfile==0.12.2
louis==3.17.0
lxml==4.6.3
Mako==1.1.4
mallard-ducktype==1.0.2
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.3.3
meson==0.58.0
monotonic==1.6
more-itertools==8.7.0
mps-youtube==0.2.8
msgpack==1.0.2
mutagen==1.45.1
netsnmp-python==1.0a1
numpy==1.19.5
oauthlib==3.1.0
opt-einsum==3.3.0
ordered-set==4.0.2
packaging==20.9
pafy==0.5.5
pandas==1.2.4
parsedatetime==2.6
parso==0.8.1
passlib==1.7.4
pathtools==0.1.2
patiencediff==0.2.2
pep517==0.10.0
pexpect==4.8.0
picard==2.6.2
pickleshare==0.7.5
Pillow==8.2.0
ply==3.11
powerline-status==2.8.2
progress==1.5
prompt-toolkit==3.0.18
protobuf==3.17.0
psutil==5.8.0
ptyprocess==0.7.0
pwquality==1.4.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.6.2
pycairo==1.20.0
pycparser==2.20
pycryptodome==3.10.1
Pygments==2.9.0
PyGObject==3.40.1
PyHamcrest==1.10.0
pymongo==3.11.4
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-sip==12.8.1
pySmartDL==1.3.4
PySocks==1.7.1
python-dateutil==2.8.1
python-distutils-extra==2.39
pytoml==0.1.21
pytz==2021.1
pyxdg==0.27
PyYAML==5.4.1
pyzmq==22.0.3
Reflector==2021.4.3.10.43.28
regex==2021.4.4
requests==2.25.1
requests-cache==0.5.2
requests-futures==1.0.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
resolvelib==0.5.4
retrying==1.3.3
rsa==4.7.2
scikit-learn==0.23.2
scipy==1.5.4
scons==3.1.2
SecretStorage==3.3.1
selinux==3.2
sip==4.19.25
six==1.15.0
sklearn==0.0
smbus==1.1
soupsieve==2.2.1
speedtest-cli==2.1.3
tabulate==0.8.9
team==1.0
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
threadpoolctl==2.1.0
toml==0.10.2
tornado==6.1
traitlets==5.0.5
Twisted==21.2.0
typing-extensions==3.7.4.3
tzlocal==2.1
ufw==0.36
urllib3==1.26.4
validate==5.1.0.dev0
virtualenv==20.2.1
waitress==2.0.0
watchdog==0.10.5
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.0
wrapt==1.12.1
youtube-dl==2021.4.26
zipp==3.4.1
zope.interface==5.4.0
